.imgWork {
    height: 320px;

}



.iconxs {
    height: 24px;
   
}

.container {
   width: 90%;
   max-width: 1184px;
    border-radius: 40px;
    background: var(--darkGray);
    padding: 40px;
   

}

.info {
    background: var(--darkGray);
}

.tag {
    color: var(--gray);
    padding: 8px 12px;
    border-radius: 32px;
    border: 1px solid var(--gray);
}

.circle {
    height: 48px;
       width: 48px;
   border-radius: 30px;
background-color: var(--gray) 
}

.circle:hover {
    background-color: var(--green);
}

.tags {
    width: 332px;
}
