.imgWork {
  width: 100%;
  height: auto;

}

.contImage {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex: 1;
}


.iconxs {
  height: 24px;

}

.iconWrapper {
  width: 140px;
  overflow: hidden;
  mask-image: linear-gradient(to right, transparent, black 10%, black 90%, transparent);
}

.carrouselHeader {
  display: flex;
  flex-direction: row;
  gap: 4px;
  width: max-content;
  animation: scroll 8s linear infinite;
}

@keyframes scroll {
  from {
    transform: translateX(0);
  }

  to {
    transform: translateX(-50%);
  }
}


.info {
  width: 100%;
  overflow: auto;
  flex: 1;
}

.tag {
  color: var(--gray);
  padding: 8px 12px;
  border-radius: 32px;
  border: 1px solid var(--gray);
}

.circle {
  height: 48px;
  width: 48px;
  border-radius: 50px;
  background-color: var(--gray);
  position: relative;
  z-index: 10;

}

.circle:hover {
  background-color: var(--green);
}

.tags {
  width: 100%;
  max-width: 332px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}




.modalBackground {

  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 1000;
  overflow: hidden;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;


}

.modal {
  width: 90%;
  height: 94%;
  display: flex;
  padding: 80px 160px;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  border-radius: 32px;
  border: 1px solid var(--gray);
  background: var(--darkGray);
  position: relative;
  overflow-y: auto;


  animation: slideDown 0.8s ease forwards;
}

@keyframes slideDown {
  0% {
    transform: translateY(-50px);
    opacity: 0;
  }

  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

.close {
  height: 24px;
  width: auto;
  position: absolute;
  top: 20px;
  right: 30px;
}

.headerVideo {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
  width: 100%;
  margin-bottom: 20px;
  gap: 16px;
}

.video {
  width: 100%;
  height: 100%; 
  border: none; 
  display: block; 
}

.text {
  color: gray;
  max-width: 360px;

}

/* ===Carrousel peek=== */


.carouselWrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 16px;
  width: 100%;
  /* overflow: hidden;*/
  padding: 20px 0;

}



.carouselTrack {
  position: relative;
  width: 85%;
  max-width: 1184px;
  min-height: 480px;
  display: flex;
  align-items: center;
  justify-content: center;
}


.card {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-width: 1192px;
  transition: transform 0.5s ease, opacity 0.5s ease;
  min-height: 480px;
  width: 100%;
  border-radius: 40px;
  background: var(--darkGray);
  padding: 40px;
  /*    border: 0.5px solid var(--green);*/
  /*   flex-wrap: wrap;*/
}




.active {
  transform: translate(-50%, -50%) scale(1);
  opacity: 1;
  z-index: 3;
}

.prev {
  transform: translate(-151%, -50%) scale(0.85);
  opacity: 0.5;
  z-index: 2;
  pointer-events: none;
}

.next {
  transform: translate(51%, -50%) scale(0.85);
  opacity: 0.5;
  z-index: 2;
  pointer-events: none;
}

.hidden {
  transform: translate(-50%, -50%) scale(0.8);
  opacity: 0;
  pointer-events: none;
  z-index: 1;
}

.itemMarker {


  display: flex;
  flex-direction: row;
  gap: 4px;
  justify-content: center;
  align-items: center;

  background-color: rgb(66, 66, 66);
  width: 72px;
  height: 28px;
  border-radius: 20px;
}

.itemMarker div {
  height: 8px;
  width: 8px;
  border-radius: 50px;
}

.marked {
  background-color: rgb(255, 255, 255);

}

.gray {
  background-color: rgb(66, 66, 66);
  background: var(--gray);
}



/* -----------------------------------------*/
/* -------Responsive Phone version----------*/
/* -----------------------------------------*/


@media (max-width: 768px) {
  /*! CHECK WITH NEW PHOTOS SQUARE RATIO IN CARROUSEL */

  .card {
    flex-direction: column;
  }

  .text {
    max-width: none;
    width: 100%;
  }

  .info {
    overflow-x: hidden;
  }

  .carouselWrapper {
    gap: 0px;
    width: 100%;


  }

  .card {
    position: static;
    transform: none;
    opacity: 1;
    min-height: auto;
    min-height: 622px;
  }

  .prev {
    display: none;
  }

  .next {
    display: none;
  }



  .carrouselHeader {
    display: none;
  }

  .carouselTrack {
    width: 100%;
  }


  .circle {
    display: none;
  }

  .imgWork {
    width: 100%;
    height: auto;
  }



  .modal {

    padding: 16px 16px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: auto;
  }



  .headerVideo {
    margin-top: 32px;
  }



  .close {

    top: 20px;
    right: 20px;
  }

}