.imgWork {
    height: 320px;

}



.iconxs {
    height: 24px;
   
}

.carrouselHeader {
    display: flex;
    flex-direction: row;
}

.info {
    width: 100%;
    overflow: auto;
}

.tag {
    color: var(--gray);
    padding: 8px 12px;
    border-radius: 32px;
    border: 1px solid var(--gray);
}

.circle {
    height: 48px;
       width: 48px;
   border-radius: 50px;
background-color: var(--gray) ;
 position: relative;
z-index: 10;

}

.circle:hover {
    background-color: var(--green);
}

.tags {
    width: 332px;
}

.modalBackground {

      position: fixed;
  top: 0;
  left: 0;
  width: 100%;     
  height: 100%; 
  background-color: rgba(0,0,0,0.7);
   z-index: 1000; 
  overflow: hidden; 

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

   
}

.modal {
    width: 90%;
    height: 94%;
    display: flex;
padding: 80px 160px;
flex-direction: column;
justify-content: center;
align-items: center;

border-radius: 32px;
border: 1px solid var(--gray);
background: var(--darkGray);
position: relative; 
 overflow-y: auto; 
  

  animation: slideDown 0.8s ease forwards;
}

@keyframes slideDown {
  0% {
    transform: translateY(-50px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

.close {
    height: 24px;
    width: auto;
    position: absolute; 
     top: 20px;
  right: 30px;
}

.headerVideo {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    width: 100%;
    margin-bottom: 20px;
    gap: 16px;
}

.video {
  width: 100%;
  height: auto;
}

.text {
    color: gray;
    max-width: 360px;
    
}

/* ===Carrousel peek=== */


.carouselWrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 16px;
  width: 100%;
 /* overflow: hidden;*/
  padding: 20px 0;

}



.carouselTrack {
  position: relative;
  width: 85%;
  max-width: 1184px;
  min-height: 480px; 
  display: flex;
  align-items: center;
  justify-content: center;
}


.card {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-width: 1192px;
  transition: transform 0.5s ease, opacity 0.5s ease;
   min-height: 480px; 
 width: 100%;
    border-radius: 40px;
    background: var(--darkGray);
    padding: 40px;
       border: 0.5px solid var(--green);
 /*   flex-wrap: wrap;*/
}




.active {
  transform: translate(-50%, -50%) scale(1);
  opacity: 1;
  z-index: 3;
}

.prev {
  transform: translate(-151%, -50%) scale(0.85);
  opacity: 0.5;
  z-index: 2;
  pointer-events: none;
}

.next {
  transform: translate(51%, -50%) scale(0.85);
  opacity: 0.5;
  z-index: 2;
  pointer-events: none;
}

.hidden {
  transform: translate(-50%, -50%) scale(0.8);
  opacity: 0;
  pointer-events: none;
  z-index: 1;
}


/* -----------------------------------------*/
/* -------Responsive Phone version----------*/
/* -----------------------------------------*/


@media (max-width: 768px) {
    .card {
  flex-wrap: wrap;
}
.text {
max-width: none;
width: 100%;
}

.info {
  overflow-x: hidden;
}


  .card {
    position: static;  
    transform: none;   
    opacity: 1;
    min-height: auto;
  }

.prev {
display: none;
}

.next {
  display: none;
}



.carrouselHeader {
    display: none;
}


.circle {
  display: none;
}

.imgWork{
  width: 100%;
  height: auto;
}

.tags {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
}


.modal {

padding: 16px 16px;
flex-direction: column;
justify-content: center;
align-items: center;
height: auto;
}}