.container {
    height: 736px;
}

.intro {
    height: 100%;
}

.textbox {
 
    width: 552px;
  
}

img {
    height: 20px;
    width: auto;
}

@media (max-width: 700px) {
.container {
   width: 100%;
}

    .textbox {
    width: 90%;
}


}
