.container {
    height: 736px;
}

.intro {
    height: 100%;
    width: 100%;
}

.textbox {
    width: 100%;
    max-width: 552px;  
}

img {
    height: 20px;
    width: auto;
}

@media (max-width: 700px) {
.container {
    display: flex;
    flex-direction: column;

   width: 100%;
   height: auto;
   gap: 40px;
   align-items: flex-start;
   justify-content: center;
   padding: 80px 0px;
}

.intro {
    width: 100%;
    max-width: 400px;
}



}
