.iconbig {
    height: 48px;
    background: var(--darkGray);
}

.iconxs {
    height: 24px;
   
}

.iconcontainer {
    display: flex;
    flex-direction: column;
    width: 148px;
    height: 128px;
    align-items: center;
    justify-content: center;
    border-radius: 16px;
    background: var(--darkGray);
    gap: 8px;

}

.iconWrapper {
  width: 140px;       
  overflow: hidden;   
mask-image: linear-gradient(to right, transparent, black 10%, black 90%, transparent);
}

.carrouselStack {
  display: flex;
  gap: 4px;
  width: max-content;
  animation: scroll 28s linear infinite;
}

@keyframes scroll {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-50%);
  }
}


@media (max-width: 768px) {

.carrouselStack {
    display: none;
}
}