.entry {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 16px;
    width: 100%;
}

.entryHeader {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  width: 100%;

}

.headerButton {
     font-size: 44px;
  letter-spacing: -1.1px;
  color: white;
}

.iconxs {
    height: 24px;

}

.green {
    color: var(--green);
}


@media (max-width: 700px) {
.entryHeader {
   display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 16px;
    width: 100%;
}

.entry {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 16px;
    width: 100%;
}

}
