.entry {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 16px;
    width: 100%;
}

.entryHeader {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  width: 100%;

}

.headerButton {
     font-size: 44px;
  letter-spacing: -1.1px;
  color: white;
}

.iconxs {
    height: 24px;

}

.green {
   
    background-color: var(--green);
   
    color: var(--darkGray);
 border-radius: 16px;
  height: 60px;
  width: 300px;
   
}

.disabled {
    height: 60px;
  width: 280px;
    
}

.disabled:hover {
  cursor: pointer;
    
}


.sliderButtons {
  display: flex;
  flex-direction: row;
  justify-content: center;
  
  background-color: var(--darkGray);
  height: 60px;
  width: 560px;
 
  border-radius: 16px;


}


@media (max-width: 768px) {
.entryHeader {
   display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 16px;
    width: 100%;
}

.entry {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 16px;
    width: 100%;
}


 .iconxs {
    height: 16px;
}


  .green {
  width: 50%;
   height: 52px;
}

.disabled {
  width: 50%;
    height: 52px;
}




.sliderButtons {
  width: 100%;
  border-radius: 16px;
height: 52px;
}}