label {
     font-size: 16px;
     color: var(--gray);
}

input, textarea {
    height: 48px;
    background-color: #262626;
    border-radius: 32px;
     outline: none;
  border: none;
  font-size: 16px;
     color: var(--gray);
     padding: 8px 16px;
}

.inputText {
    height: 224px;
    display: flex;
    justify-content: start;
    align-items: start;
    padding-top: 20px;
}

.buttonSubmit {
    border-radius: 32px;
background: #FFF;
color: black;
height: 56px;
font-size: 16px;
font-family: 'MyFont';
}

.container {
    width: 640px;
}



.header {
    margin-bottom: 20px;
}

span {
    color: var(--gray);
}

.close {
    height: 24px;
    width: auto;
    position: absolute; 
     top: 20px;
  right: 30px;
}

.modalBackground {

      position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0,0,0,0.7);
   z-index: 1000; 
  overflow: hidden; 

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
   
}

.modal {
    width: 90%;
    height: 94%;
    display: flex;
padding: 80px 160px;
flex-direction: column;
justify-content: center;
align-items: center;

border-radius: 32px;
border: 1px solid var(--gray);
background: var(--DarkGray, #121212);
position: relative; 
 overflow-y: auto; 

  animation: slideDown 0.8s ease forwards;
}


@keyframes slideDown {
  0% {
    transform: translateY(-50px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}