label {
     font-size: 16px;
     color: var(--gray);
}

input, textarea {
    height: 48px;
    background-color: #262626;
    border-radius: 32px;
     outline: none;
  border: none;
  font-size: 16px;
     color: var(--gray);
     padding: 8px 16px;
}

.inputText {
    height: 224px;
    display: flex;
    justify-content: start;
    align-items: start;
    padding-top: 20px;
}

.buttonSubmit {
    border-radius: 32px;
background: #FFF;
color: black;
height: 56px;
font-size: 16px;
font-family: 'MyFont';
}

.container {
    width: 640px;
}

.box {
    width: 90%;
    display: flex;
padding: 80px 160px;
flex-direction: column;
justify-content: center;
align-items: center;

border-radius: 32px;
border: 1px solid var(--Gray, #8A8A8A);
background: var(--DarkGray, #121212);

}

.header {
    margin-bottom: 20px;
}