@font-face {
  font-family: 'MyFont';
  src: url('./assets/font/Halenoir-Medium.otf') format('opentype');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'MyFont';
  src: url('./assets/font/Halenoir-Regular.otf') format('opentype');
  font-weight: 400;
  font-style: normal;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'MyFont';
 
}



html {
  scroll-behavior: smooth;
}


body {
    overflow-x: hidden;
  background-color: black;
   color: white;
   
}


.page {
  margin: 48px auto;
  width: 100%;
 
    
}

#root {

  width: 85%;  /* ← Descomentar esto */
  margin: auto;
  max-width: 100%; /* ← Añade esto */

}

h1 {

  font-size: 72px;
   font-weight: 500;
  letter-spacing: -4.32px;
}

h2 {

  font-size: 44px;
   font-weight: 500;
  letter-spacing: -1.1px;
}

h3 {
   font-weight: 500;

  font-size: 44px;
}


h4 {
   font-weight: 500;

  font-size: 22px;
  letter-spacing: -1.1px;
}

h5 { /*intro subtitle */
   font-weight: 500;

  font-size: 22px;
  letter-spacing: -1.1px;
}

p {

   font-weight: 400;
  font-size: 16px;
}


:root {
  --green: #83FE42;
  --gray: #8A8A8A;
  --darkGray: #121212;
}



.green {
  color: var(--green);
}

.gray {
  color: var(--gray);
}

.dark-gray {
  color: var(--darkGray);
}



.flex {
  display: flex;
}

.flex-row {
  flex-direction: row;
}

.flex-col {
  flex-direction: column;
}

.flex-wrap {
  flex-wrap: wrap;
}

.justify-center {
  justify-content: center;
}

.justify-end {
  justify-content: end;
}

.justify-start {
  justify-content: start;
}

.justify-btw {
  justify-content: space-between
}

.items-center {
  align-items: center;
}


.items-start {
  align-items: start;
}


.items-end {
  align-items: end;
}

.gap-8 {
  gap: 8px;
}


.gap-16 {
  gap: 16px;
}

.gap-20 {
  gap: 20px;
}

.gap-28 {
  gap: 28px;
}

.gap-44 {
  gap: 44px;
}

.gap-48 {
  gap: 48px;
}

.gap-64 {
  gap: 64px;
}

.gap-88 {
  gap: 88px;
}

.gap-264 {
  gap: 264px;
}

nav {


display: flex;
flex-direction: column;
justify-content: space-between;
align-items: center;
gap: 8px;
 flex-wrap: wrap;
width: 100%;
    overflow-x: hidden; /* ← Añade esto */
}

button {

  border: none;
  /* sin borde */
  outline: none;
  background-color: transparent;

}

.btn-prin {
  font-family: 'MyFont';
  display: flex;
  border-radius: 32px;
  justify-content: center;
  align-items: center;
  height: 60px;
  font-size: 22px;
  letter-spacing: -1.1px;
  width: 180px;
  background-color: var(--green);
  color: black;


}

.btn-prin:hover {
  background-color: white;
}

.btn-sec {
  font-family: 'MyFont';
  display: flex;
  border-radius: 32px;
  justify-content: center;
  align-items: center;
  height: 60px;
  font-size: 22px;
  letter-spacing: -1.1px;
  padding: 16px 30px;
  border: 1px solid #FFFDFD;
  color: white;
  width: fit-content;

}

.btn-sec:hover {
  background-color: white;
  color: black;
}


.btn-contact {

  padding: 16px 30px;
  border-radius: 32px;
  background-color: var(--gray);
  color: white;
  font-size: 16px;
  height: 48px;
  font-family: 'MyFont';
  display: flex;
  justify-content: center;
  align-items: center;
}

.btn-contact:hover {
  background-color: white;
  color: black;
}

a {
  font-size: 16px;
  text-decoration: none;
  color: white;
}

a:hover {
color: var(--gray);
}



.line {
  height: 0.5px;
  background-color: var(--gray);
  flex: 0.96;
}

.footer-nav {
  background-color: var(--darkGray);
  border-radius: 32px ;
  padding: 20px;
  margin-bottom: 40px;

}

footer {
    margin-top: 264px;
      width: 100%;
}


.footer-nav a {
  color: var(--gray);
}

.footer-nav a:hover {
  color: white;
}

.icon {
    height: 40px;
    color: var(--gray);
    
}

a:hover .icon {
  color: white;
}

.max-width {
  max-width: 1280px;
}

.w-fit {
  width: fit-content;
}

.w-full {
 width: 100%; 
}



/* -----------------------------------------*/
/* -------Responsive Phone version----------*/
/* -----------------------------------------*/


@media (max-width: 768px) {



    #root {
    width: 100%; 
  }

.page {
  margin: 48px 20px;
    
}

  .items-start-md {
    align-items: flex-start;
  }

  .items-center-md {
    align-items: center;
  }



.line {
  display: none;
} 
  h1 {
    font-size: 36px;  /* smaller for phone */
    letter-spacing: -2.5px;
  }

  h2 {
    font-size: 28px;
    letter-spacing: -0.8px;
  }

  h3 {
    font-size: 22px;
  }

  h4 {
    font-size: 14px;
    letter-spacing: -0.5px;
  }

  p {
    font-size: 14px;
  }

  a {
  font-size: 14px;
  }


  .flex-col-md {
    flex-direction: column;
  }

 
  .gap-8-md {
    gap: 8px;
  }

   .gap-32-md {
    gap: 32px;
  }

  
   .gap-180-md {
    gap: 180px;
  }

    .gap-140-md {
    gap: 140px;
  }


  

  .btn-prin {


 
  font-size: 18px;
letter-spacing: -0.36px;

 width: 154px;
height: 54px;


}


.btn-sec {

  font-size: 18px;
 letter-spacing: -0.36px;
width: 154px;
height: 54px;

}

.icon {
  height: 22px;
  width: auto;
}

.footer-nav {
  background-color: var(--darkGray);
  border-radius: 32px ;
  padding: 20px;
  margin-bottom: 40px;
height: 60px;
  width: 100%;
  max-width: calc(100% - 8px); /* o simplemente 100% */
}


nav {
  flex-wrap: wrap;
}

footer {
    margin-top: 140px;

}

nav div {
  display: flex;
  flex-direction: column;
}
}