@font-face {
  font-family: 'MyFont';
  src: url('./assets/font/Halenoir-Medium.otf') format('opentype');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'MyFont';
  src: url('./assets/font/Halenoir-Regular.otf') format('opentype');
  font-weight: 400;
  font-style: normal;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'MyFont';
}

html {
  scroll-behavior: smooth;
  overflow-x: hidden;
}

body {
  overflow-x: hidden;
  background-color: black;
  color: white;
}

.page {
  margin: 48px auto;
  width: 100%;
}

#root {
  width: 85%;
  margin: auto;
  max-width: 100%;
}

h1 {
  font-size: 72px;
  font-weight: 500;
  letter-spacing: -4.32px;
}

h2 {
  font-size: 44px;
  font-weight: 500;
  letter-spacing: -1.1px;
}

h3 {
  font-weight: 500;
  font-size: 32px;
}

h4 {
  font-weight: 500;
  font-size: 22px;
  letter-spacing: -1.1px;
}

h5 {
  font-weight: 500;
  font-size: 22px;
  letter-spacing: -1.1px;
}

p {
  font-weight: 400;
  font-size: 16px;
}

:root {
  --green: #83FE42;
  --gray: #979797;
  --darkGray: #212121;
}

.green {
  color: var(--green);
}

.gray {
  color: var(--gray);
}

.dark-gray {
  color: var(--darkGray);
}

.flex {
  display: flex;
}

.flex-row {
  flex-direction: row;
}

.flex-col {
  flex-direction: column;
}

.flex-wrap {
  flex-wrap: wrap;
}

.justify-center {
  justify-content: center;
}

.justify-end {
  justify-content: end;
}

.justify-start {
  justify-content: start;
}

.justify-btw {
  justify-content: space-between;
}

.items-center {
  align-items: center;
}

.items-start {
  align-items: start;
}

.items-end {
  align-items: end;
}

.gap-8 {
  gap: 8px;
}

.gap-16 {
  gap: 16px;
}

.gap-20 {
  gap: 20px;
}

.gap-28 {
  gap: 28px;
}

.gap-44 {
  gap: 44px;
}

.gap-48 {
  gap: 48px;
}

.gap-64 {
  gap: 64px;
}

.gap-88 {
  gap: 88px;
}

.gap-264 {
  gap: 264px;
}

nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

button {
  border: none;
  outline: none;
  background-color: transparent;
}

.btn-prin {
  font-family: 'MyFont';
  display: flex;
  border-radius: 32px;
  justify-content: center;
  align-items: center;
  height: 60px;
  font-size: 22px;
  letter-spacing: -1.1px;
  width: 180px;
  background-color: var(--green);
  color: black;
}

.btn-prin:hover {
  background-color: white;
}

.btn-sec {
  font-family: 'MyFont';
  display: flex;
  border-radius: 32px;
  justify-content: center;
  align-items: center;
  height: 60px;
  font-size: 22px;
  letter-spacing: -1.1px;
  padding: 16px 30px;
  border: 1px solid #FFFDFD;
  color: white;
  width: fit-content;
}

.btn-sec:hover {
  background-color: white;
  color: black;
}

.btn-contact {
  padding: 16px 30px;
  border-radius: 32px;
  background-color: var(--gray);
  color: white;
  font-size: 16px;
  height: 48px;
  font-family: 'MyFont';
  display: flex;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
}

.btn-contact:hover {
  background-color: white;
  color: black;
}

a {
  font-size: 16px;
  text-decoration: none;
  color: white;
}

a:hover {
  color: var(--gray);
}

.line {
  height: 0.5px;
  background-color: var(--gray);
  flex: 0.96;
}

.footer-nav {
  background-color: var(--darkGray);
  border-radius: 32px;
  padding: 20px;
}

footer {
  margin-top: 264px;
  width: 100%;
}

.footer-nav a {
  color: var(--gray);
}

.footer-nav a:hover {
  color: white;
}

.icon {
  height: 40px;
  color: var(--gray);
}

a:hover .icon {
  color: white;
}

button:hover .icon {
  color: white;
}

.max-width {
  max-width: 1280px;
}

.w-fit {
  width: fit-content;
}

.w-full {
  width: 100%;
}

.nav-phone {
display: none;
}

.icon-menu {
height: 32px;
width: auto;
}

.menu-links {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
  gap: 28px;
  position: static;
}

.menu-none {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
  gap: 28px;
  position: static;
}

.email {
  color: var(--gray);
}

.logo-nav {
height: 32px;
width: auto;
}

.copyright {

display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
width: 100%;
color: var(--gray);
}

/* -----------------------------------------*/
/* -------Responsive Phone version----------*/
/* -----------------------------------------*/

@media (max-width: 768px) {
  html, body {
    overflow-x: hidden;
    max-width: 100vw;
  }

  #root {
    width: 100%;  /* ← Cambia esto */
    margin: 0 auto;
    padding: 0 20px;  /* ← Solo el padding de 20px cada lado */
  }

  .page {
    margin: 48px 0;
    width: 100%;
  }

  nav {
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    position: static;
  }

  nav div {
    display: flex;
    flex-direction: column;
    gap: 16px;
    width: 100%;
    align-items: center;
  }

  .btn-contact {
    width: 100%;
    max-width: 100%;
  }

  .items-start-md {
    align-items: flex-start;
  }

  .items-center-md {
    align-items: center;
  }

  .line {
    display: none;
  }

  h1 {
    font-size: 36px;
    letter-spacing: -2.5px;
  }

  h2 {
    font-size: 28px;
    letter-spacing: -0.8px;
  }

  h3 {
    font-size: 18px;
  }

  h4 {
    font-size: 16px;
    letter-spacing: -0.5px;
  }

  p {
    font-size: 14px;
  }

  a {
    font-size: 14px;
  }

  .flex-col-md {
    flex-direction: column;
  }

  .gap-8-md {
    gap: 8px;
  }

   .gap-20-md {
    gap: 20px;
  }

  .gap-32-md {
    gap: 32px;
  }

  .gap-180-md {
    gap: 180px;
  }

  .gap-140-md {
    gap: 140px;
  }

  .btn-prin {
    font-size: 18px;
    letter-spacing: -0.36px;
    width: 154px;
    height: 54px;
  }

  .btn-sec {
    font-size: 18px;
    letter-spacing: -0.36px;
    width: auto;
    height: 54px;
    padding-left: 20px;
    padding-right: 20px;
  }

  /*.icon {
    height: 22px;
    width: auto;
  }*/

  .icon-m{
    height: 32px;
    width: auto;
  }

  .footer-nav {
    background-color: var(--darkGray);
    border-radius: 32px;
    padding: 20px;

    height: 60px;
    width: 100%;
  }

  footer {
    margin-top: 140px;
  }

  .nav-phone {
display: flex;
flex-direction: row;
justify-content: flex-end;
  position: relative;

}

.btn-contact {
  background: none;
  padding: 0;
font-size: 14px;
    height: auto;
    border-radius: 0px;
    width: auto;
}
.menu-links {
  display: flex;
  flex-direction: column;
  background-color: rgb(0, 0, 0);
  align-items: center;
  width: 100%;
    position: absolute;
  top: 80px;
   left: 50%;
  transform: translateX(-50%);
 padding: 20px;
  
 animation: slideDown 0.5s ease forwards; 

  
}



@keyframes slideDown {
  0% {
  /*  transform: translateX(-50%) translateY(-50px); */
opacity: 0;
   
  }

  
  100% {
   /* transform: translateX(-50%) translateY(0); */
  opacity: 1;

  }
}


.menu-none {
  display: none;
}

.email {
  font-size: 18px;
}

}